In [2]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, classification_report
from sklearn.model_selection import train_test_split

# Loading the libraries

In [3]:
# Loading the data
data = pd.read_excel('dataset_lfs_2024.xlsx')

In [7]:
data.dropna(subset=["HRLYEARN"],inplace=True)
# Removing the null values in HRLYEARN column

In [8]:
data['HRLYEARN']=data['HRLYEARN']/100
# The data dictionary for this dataset indicated that the last 2 values of this numeric column were the decimal points. So dividing the HRLYEARN column by 100 will add 2 decimal points.

In [6]:
#profile = ProfileReport(data, title="Profiling Report")
#profile.to_file("EDA after eliminating blanks of Usual Hourly Wages (HRLYEARN).html")
# Generating the profiling report after removing the null values in HRLYEARN column

/Users/hk/opt/anaconda3/lib/python3.9/site-packages/ydata_profiling/profile_report.py:363: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/hk/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/_stats_py.py:4916: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
/Users/hk/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/_stats_py.py:4916: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
/Users/hk/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/_stats_py.py:4916: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
/Users/hk/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/_stats_py.py:4916: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))
/Users/hk/opt/anaconda3/lib/python3.9/site-packages/scipy/stats/_stats_py.py:4916: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
# Displaying all the columns and rows

data.describe()
# Displaying the summary statistics of the data

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,EDUC,MJH,EVERWORK,FTPTLAST,COWMAIN,IMMIG,NAICS_21,NOC_10,NOC_43,YABSENT,WKSAWAY,PAYAWAY,UHRSMAIN,AHRSMAIN,FTPTMAIN,UTOTHRS,ATOTHRS,HRSAWAY,YAWAY,PAIDOT,UNPAIDOT,XTRAHRS,WHYPT,TENURE,PREVTEN,HRLYEARN,UNION,PERMTEMP,ESTSIZE,FIRMSIZE,DURUNEMP,FLOWUNEM,UNEMFTPT,WHYLEFTO,WHYLEFTN,DURJLESS,AVAILABL,LKPUBAG,LKEMPLOY,LKRELS,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
count,223792.000000,223792.0,223792.000000,223792.000000,223792.000000,223792.000000,223792.000000,50224.000000,223792.000000,223792.000000,223792.000000,223792.000000,0.0,0.0,223792.000000,223792.000000,223792.000000,223792.000000,223792.000000,17528.000000,17528.000000,17528.000000,223792.000000,223792.000000,223792.000000,223792.000000,223792.000000,206264.000000,27444.000000,206264.000000,206264.000000,206264.000000,39146.000000,223792.000000,0.0,223792.000000,223792.000000,223792.000000,223792.000000,223792.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,213334.000000,223792.000000,83597.000000,223792.000000
mean,55321.900046,2024.0,2.513834,1.078323,34.557862,1.780296,5.971103,4.112874,1.504031,2.904925,3.836290,1.054090,NaN,NaN,1.718672,2.689555,13.386167,5.110942,22.443416,1.757930,15.117013,1.555739,352.961272,324.483735,1.174921,360.219105,331.016775,14.310398,1.713088,7.720979,6.536584,14.257563,4.077811,89.695391,NaN,34.336227,2.359682,1.230393,2.220821,3.011176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.117211,5.058760,2.192435,313.946902
std,31946.928056,0.0,1.118087,0.268679,14.472853,2.801541,2.800990,1.567248,0.499985,2.212543,1.453516,0.226197,NaN,NaN,0.449648,0.614722,4.917282,2.615527,12.566916,1.036502,22.949399,0.496898,106.805351,151.450875,0.379901,111.874585,155.582555,46.677460,1.066510,34.819115,28.905280,44.704272,1.740276,82.755065,NaN,18.498759,0.922253,0.704776,1.047460,1.157277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.383993,5.099748,1.073851,288.183784
min,1.000000,2024.0,1.000000,1.000000,10.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,5.770000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000
25%,27662.000000,2024.0,2.000000,1.000000,24.000000,0.000000,4.000000,3.000000,1.000000,1.000000,3.000000,1.000000,NaN,NaN,1.000000,3.000000,10.000000,3.000000,10.000000,1.000000,1.000000,1.000000,350.000000,250.000000,1.000000,350.000000,260.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,19.000000,NaN,21.000000,1.000000,1.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,1.000000,136.000000
50%,55343.000000,2024.0,3.000000,1.000000,35.000000,0.000000,6.000000,4.000000,2.000000,2.000000,4.000000,1.000000,NaN,NaN,2.000000,3.000000,14.000000,5.000000,23.000000,2.000000,3.000000,2.000000,380.000000,375.000000,1.000000,400.000000,375.000000,0.000000,2.000000,0.000000,0.000000,0.000000,4.000000,58.000000,NaN,29.330000,3.000000,1.000000,2.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,3.000000,2.000000,220.000000
75%,82999.000000,2024.0,4.000000,1.000000,47.000000,4.000000,8.000000,6.000000,2.000000,6.000000,5.000000,1.000000,NaN,NaN,2.000000,3.000000,17.000000,7.000000,34.000000,3.000000,20.000000,2.000000,400.000000,400.000000,1.000000,400.000000,400.000000,0.000000,3.000000,0.000000,0.000000,0.000000,5.000000,153.000000,NaN,43.000000,3.000000,1.000000,3.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,5.000000,3.000000,370.000000
max,112082.000000,2024.0,4.000000,2.000000,59.000000,9.000000,12.000000,6.000000,2.000000,6.000000,6.000000,2.000000,NaN,NaN,2.000000,3.000000,21.000000,10.000000,43.000000,3.000000,99.000000,2.000000,990.000000,990.000000,2.000000,990.000000,990.000000,990.000000,4.000000,990.000000,990.000000,990.000000,7.000000,240.000000,NaN,216.350000,3.000000,4.000000,4.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,18.000000,4.000000,3403.000000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223792 entries, 2 to 442573
Data columns (total 60 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REC_NUM   223792 non-null  int64
 1   SURVYEAR  223792 non-null  int64
 2   SURVMNTH  223792 non-null  int64
 3   LFSSTAT   223792 non-null  int64
 4   PROV      223792 non-null  int64
 5   CMA       223792 non-null  int64
 6   AGE_12    223792 non-null  int64
 7   AGE_6     50224 non-null   float64
 8   SEX       223792 non-null  int64
 9   MARSTAT   223792 non-null  int64
 10  EDUC      223792 non-null  int64
 11  MJH       223792 non-null  float64
 12  EVERWORK  0 non-null       float64
 13  FTPTLAST  0 non-null       float64
 14  COWMAIN   223792 non-null  float64
 15  IMMIG     223792 non-null  int64
 16  NAICS_21  223792 non-null  float64
 17  NOC_10    223792 non-null  float64
 18  NOC_43    223792 non-null  float64
 19  YABSENT   17528 non-null   float64
 20  WKSAWAY   17528 non-null   float64
 21  PAYAWAY   17528 non-null   float64
 22  UHRSMAIN  223792 non-null  float64
 23  AHRSMAIN  223792 non-null  float64
 24  FTPTMAIN  223792 non-null  float64
 25  UTOTHRS   223792 non-null  float64
 26  ATOTHRS   223792 non-null  float64
 27  HRSAWAY   206264 non-null  float64
 28  YAWAY     27444 non-null   float64
 29  PAIDOT    206264 non-null  float64
 30  UNPAIDOT  206264 non-null  float64
 31  XTRAHRS   206264 non-null  float64
 32  WHYPT     39146 non-null   float64
 33  TENURE    223792 non-null  float64
 34  PREVTEN   0 non-null       float64
 35  HRLYEARN  223792 non-null  float64
 36  UNION     223792 non-null  float64
 37  PERMTEMP  223792 non-null  float64
 38  ESTSIZE   223792 non-null  float64
 39  FIRMSIZE  223792 non-null  float64
 40  DURUNEMP  0 non-null       float64
 41  FLOWUNEM  0 non-null       float64
 42  UNEMFTPT  0 non-null       float64
 43  WHYLEFTO  0 non-null       float64
 44  WHYLEFTN  0 non-null       float64
 45  DURJLESS  0 non-null       float64
 46  AVAILABL  0 non-null       float64
 47  LKPUBAG   0 non-null       float64
 48  LKEMPLOY  0 non-null       float64
 49  LKRELS    0 non-null       float64
 50  LKATADS   0 non-null       float64
 51  LKANSADS  0 non-null       float64
 52  LKOTHERN  0 non-null       float64
 53  PRIORACT  0 non-null       float64
 54  YNOLOOK   0 non-null       float64
 55  TLOLOOK   0 non-null       float64
 56  SCHOOLN   213334 non-null  float64
 57  EFAMTYPE  223792 non-null  int64
 58  AGYOWNK   83597 non-null   float64
 59  FINALWT   223792 non-null  int64
dtypes: float64(47), int64(13)
memory usage: 104.2 MB

In [15]:
data_type_mapping={
'rec_num':'Nominal',
'survyear':'Ordinal',
'survmnth':'Ordinal',
'lfsstat':'Nominal',
'prov':'Nominal',
'cma':'Nominal',
'age_12':'Ordinal',
'age_6':'Ordinal',
'sex':'Nominal',
'marstat':'Nominal',
'educ':'Ordinal',
'mjh':'Nominal',
'everwork':'Nominal',
'ftptlast':'Nominal',
'cowmain':'Nominal',
'immig':'Nominal',
'naics_21':'Nominal',
'noc_10':'Nominal',
'noc_43':'Nominal',
'yabsent':'Nominal',
'wksaway':'Nominal',
'payaway':'Nominal',
'uhrsmain':'Continuous',
'ahrsmain':'Continuous',
'ftptmain':'Nominal',
'utothrs':'Continuous',
'atothrs':'Continuous',
'hrsaway':'Continuous',
'yaway':'Nominal',
'paidot':'Continuous',
'unpaidot':'Continuous',
'xtrahrs':'Continuous',
'whypt':'Nominal',
'tenure':'Discrete',
'prevten':'Discrete',
'hrlyearn':'Continuous',
'union':'Nominal',
'permtemp':'Nominal',
'estsize':'Ordinal',
'firmsize':'Ordinal',
'durunemp':'Discrete',
'flowunem':'Nominal',
'unemftpt':'Nominal',
'whylefto':'Nominal',
'whyleftn':'Nominal',
'durjless':'Discrete',
'availabl':'Nominal',
'lkpubag':'Nominal',
'lkemploy':'Nominal',
'lkrels':'Nominal',
'lkatads':'Nominal',
'lkansads':'Nominal',
'lkothern':'Nominal',
'prioract':'Nominal',
'ynolook':'Nominal',
'tlolook':'Nominal',
'schooln':'Nominal',
'efamtype':'Nominal',
'agyownk':'Ordinal',
'finalwt':'Continuous'}
data_table=data.columns.to_frame(index=False)
data_table=data_table.rename(columns={0:'Variable Name'})
columns=list(data_table.iloc[:,0] )
data_table_mean_lst=[]
data_table_min_lst=[]
data_table_max_lst=[]
data_table_std_lst=[]
data_table_object_lst=[]
data_table_dtype_lst=[]

for column in columns:
    data_table_mean_lst.append(round(data[column].mean(),2))
    data_table_min_lst.append(round(data[column].min(),2))
    data_table_max_lst.append(round(data[column].max(),2))
    data_table_std_lst.append(round(data[column].std(),2))
    data_table_object_lst.append('Quantitative' if data[column].dtype == 'float64' or data[column].dtype == 'int64' else 'Qualitative')
    data_table_dtype_lst.append(data_type_mapping.get((column.lower())))

In [16]:
summary_statistics_table=pd.DataFrame(list(zip(columns,data_table_dtype_lst,data_table_mean_lst,data_table_min_lst,data_table_max_lst,data_table_std_lst,data_table_object_lst)),columns=['Variable Name','Data Type','Mean','Min','Max','Standard Deviation','Data Type'])
summary_statistics_table.sort_values(by='Variable Name',inplace=True)
# Creating a table with the summary statistics of the data

In [17]:
summary_statistics_table

,Variable Name,Data Type,Mean,Min,Max,Standard Deviation,Data Type
6,AGE_12,Ordinal,5.97,1.00,12.00,2.80,Quantitative
7,AGE_6,Ordinal,4.11,1.00,6.00,1.57,Quantitative
58,AGYOWNK,Ordinal,2.19,1.00,4.00,1.07,Quantitative
23,AHRSMAIN,Continuous,324.48,0.00,990.00,151.45,Quantitative
26,ATOTHRS,Continuous,331.02,0.00,990.00,155.58,Quantitative
46,AVAILABL,Nominal,NaN,NaN,NaN,NaN,Quantitative
5,CMA,Nominal,1.78,0.00,9.00,2.80,Quantitative
14,COWMAIN,Nominal,1.72,1.00,2.00,0.45,Quantitative
45,DURJLESS,Discrete,NaN,NaN,NaN,NaN,Quantitative
40,DURUNEMP,Discrete,NaN,NaN,NaN,NaN,Quantitative
10,EDUC,Ordinal,3.84,0.00,6.00,1.45,Quantitative
57,EFAMTYPE,Nominal,5.06,1.00,18.00,5.10,Quantitative
38,ESTSIZE,Ordinal,2.22,1.00,4.00,1.05,Quantitative
12,EVERWORK,Nominal,NaN,NaN,NaN,NaN,Quantitative
59,FINALWT,Continuous,313.95,1.00,3403.00,288.18,Quantitative
39,FIRMSIZE,Ordinal,3.01,1.00,4.00,1.16,Quantitative
41,FLOWUNEM,Nominal,NaN,NaN,NaN,NaN,Quantitative
13,FTPTLAST,Nominal,NaN,NaN,NaN,NaN,Quantitative
24,FTPTMAIN,Nominal,1.17,1.00,2.00,0.38,Quantitative
35,HRLYEARN,Continuous,34.34,5.77,216.35,18.50,Quantitative
27,HRSAWAY,Continuous,14.31,0.00,990.00,46.68,Quantitative
15,IMMIG,Nominal,2.69,1.00,3.00,0.61,Quantitative
3,LFSSTAT,Nominal,1.08,1.00,2.00,0.27,Quantitative
51,LKANSADS,Nominal,NaN,NaN,NaN,NaN,Quantitative
50,LKATADS,Nominal,NaN,NaN,NaN,NaN,Quantitative
48,LKEMPLOY,Nominal,NaN,NaN,NaN,NaN,Quantitative
52,LKOTHERN,Nominal,NaN,NaN,NaN,NaN,Quantitative
47,LKPUBAG,Nominal,NaN,NaN,NaN,NaN,Quantitative
49,LKRELS,Nominal,NaN,NaN,NaN,NaN,Quantitative
9,MARSTAT,Nominal,2.90,1.00,6.00,2.21,Quantitative
11,MJH,Nominal,1.05,1.00,2.00,0.23,Quantitative
16,NAICS_21,Nominal,13.39,1.00,21.00,4.92,Quantitative
17,NOC_10,Nominal,5.11,1.00,10.00,2.62,Quantitative
18,NOC_43,Nominal,22.44,1.00,43.00,12.57,Quantitative
29,PAIDOT,Continuous,7.72,0.00,990.00,34.82,Quantitative
21,PAYAWAY,Nominal,1.56,1.00,2.00,0.50,Quantitative
37,PERMTEMP,Nominal,1.23,1.00,4.00,0.70,Quantitative
34,PREVTEN,Discrete,NaN,NaN,NaN,NaN,Quantitative
53,PRIORACT,Nominal,NaN,NaN,NaN,NaN,Quantitative
4,PROV,Nominal,34.56,10.00,59.00,14.47,Quantitative
0,REC_NUM,Nominal,55321.90,1.00,112082.00,31946.93,Quantitative
56,SCHOOLN,Nominal,1.12,1.00,3.00,0.38,Quantitative
8,SEX,Nominal,1.50,1.00,2.00,0.50,Quantitative
2,SURVMNTH,Ordinal,2.51,1.00,4.00,1.12,Quantitative
1,SURVYEAR,Ordinal,2024.00,2024.00,2024.00,0.00,Quantitative
33,TENURE,Discrete,89.70,1.00,240.00,82.76,Quantitative
55,TLOLOOK,Nominal,NaN,NaN,NaN,NaN,Quantitative
22,UHRSMAIN,Continuous,352.96,1.00,990.00,106.81,Quantitative
42,UNEMFTPT,Nominal,NaN,NaN,NaN,NaN,Quantitative
36,UNION,Nominal,2.36,1.00,3.00,0.92,Quantitative
30,UNPAIDOT,Continuous,6.54,0.00,990.00,28.91,Quantitative
25,UTOTHRS,Continuous,360.22,1.00,990.00,111.87,Quantitative
44,WHYLEFTN,Nominal,NaN,NaN,NaN,NaN,Quantitative
43,WHYLEFTO,Nominal,NaN,NaN,NaN,NaN,Quantitative
32,WHYPT,Nominal,4.08,0.00,7.00,1.74,Quantitative
20,WKSAWAY,Nominal,15.12,1.00,99.00,22.95,Quantitative
31,XTRAHRS,Continuous,14.26,0.00,990.00,44.70,Quantitative
19,YABSENT,Nominal,1.76,0.00,3.00,1.04,Quantitative
28,YAWAY,Nominal,1.71,0.00,4.00,1.07,Quantitative
54,YNOLOOK,Nominal,NaN,NaN,NaN,NaN,Quantitative

In [49]:
summary_statistics_table.to_excel('Summary Statistics Table.xlsx',index=False)

In [56]:
bins = 30
figsize = (20, 60)

# Create histograms for all variables
data.hist(bins=bins, figsize=figsize, layout=(15, 4))  # Adjust layout as needed
plt.tight_layout()
plt.show()

/var/folders/0f/v6wgxn554tx62wm1nqjqw5hw0000gn/T/ipykernel_15863/3733343777.py:7: UserWarning: Matplotlib is currently using module://matplotlib_inline.backend_inline, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [5]:
mapping_of_variable_names={
'rec_num':'Order of record in file',
'survyear':'Survey year',
'survmnth':'Survey month',
'lfsstat':'Labour force status',
'prov':'Province',
'cma':'Nine largest CMAs',
'age_12':'Five-year age group of respondent',
'age_6':'Age in 2 and 3 year groups, 15 to 29',
'sex':'Sex of respondent',
'marstat':'Marital status of respondent',
'educ':'Highest educational attainment',
'mjh':'Single or multiple jobholder',
'everwork':'Identifies if a person has worked in the last year',
'ftptlast':'Full- or part-time status of last job',
'cowmain':'Class of worker, main job',
'immig':'Immigrant status',
'naics_21':'Industry of main job',
'noc_10':'Occupation at main job (noc_10)',
'noc_43':'Occupation at main job (noc_43)',
'yabsent':'Reason of absence, full week',
'wksaway':'Number of weeks absent from work',
'payaway':'Paid for time off, full-week absence only',
'uhrsmain':'Usual hours worked per week at main job',
'ahrsmain':'Actual hours worked per week at main job',
'ftptmain':'Full- or part-time status at main or only job',
'utothrs':'Usual hours worked per week at all jobs',
'atothrs':'Actual hours worked per week at all jobs',
'hrsaway':'Hours away from work, part-week absence only',
'yaway':'Reason for part-week absence',
'paidot':'Paid overtime hours in reference week',
'unpaidot':'Unpaid overtime hours in reference week',
'xtrahrs':'Number of overtime or extra hours worked',
'whypt':'Reason for part-time work',
'tenure':'Job tenure with current employer',
'prevten':'Job tenure with previous employer',
'hrlyearn':'Usual hourly wages',
'union':'Union status',
'permtemp':'Job permanency',
'estsize':'Establishment size',
'firmsize':'Firm size',
'durunemp':'Duration of unemployment',
'flowunem':'Flows into unemployment',
'unemftpt':'Job seekers by type of work sought and temporary layoffs by work status of last job',
'whylefto':'Reason for leaving job during previous year (whylefto)',
'whyleftn':'Reason for leaving job during previous year (whyleftn)',
'durjless':'Duration of joblessness',
'availabl':'Availability during the reference week',
'lkpubag':'Unemployed, used public employment agency',
'lkemploy':'Unemployed, checked with employers directly',
'lkrels':'Unemployed, checked with friends or relatives',
'lkatads':'Unemployed, looked at job ads',
'lkansads':'Unemployed, placed or answered ads',
'lkothern':'Unemployed, other methods',
'prioract':'Main activity before started looking for work',
'ynolook':'Reason for not looking for work during the reference week',
'tlolook':'Temporary layoff, looked for work during the last four weeks',
'schooln':'Current student status',
'efamtype':'Type of economic family',
'agyownk':'Age of youngest child',
'finalwt':'Standard final weight'}